Install and Import packages

In [6]:
#import basic packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

#check versions
print(pd.__version__)
print(np.__version__)

# Importing WordCloud for text visualization
from wordcloud import WordCloud

# Importing NLTK for natural language processing
import nltk
from nltk.corpus import stopwords # For stopwords

#machine learning package
from sklearn.preprocessing import LabelEncoder

2.3.0
2.3.1

Data Ingestion

In [7]:

#read input data
df = pd.read_csv("spam_data.csv")
df.head(5)

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [ ]:
#delete unwanted columns and rename required columns
df = df[['v1','v2']].rename(columns={'v1':'target','v2':'text'})
df.head(5)

  target                                               text
0    ham  Go until jurong point, crazy.. Available only ...
1    ham                      Ok lar... Joking wif u oni...
2   spam  Free entry in 2 a wkly comp to win FA Cup fina...
3    ham  U dun say so early hor... U c already then say...
4    ham  Nah I don't think he goes to usf, he lives aro...

Data Pre-processing

In [10]:
#Convert target class to binary 1 and 0
encoder = LabelEncoder()
df['target'] = encoder.fit_transform(df['target'])
#get number of rows
print(f"Rows count before remorving duplicate rows= {len(df)}")
#remove duplicate rows
df = df.drop_duplicates(keep='first')
print(f"Rows count after remorving duplicate rows= {len(df)}")
df.head()

Rows count before remorving duplicate rows= 5572
Rows count after remorving duplicate rows= 5169

   target                                               text
0       0  Go until jurong point, crazy.. Available only ...
1       0                      Ok lar... Joking wif u oni...
2       1  Free entry in 2 a wkly comp to win FA Cup fina...
3       0  U dun say so early hor... U c already then say...
4       0  Nah I don't think he goes to usf, he lives aro...